.App {
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
}

.header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.headerText {
  color: #ffbb50;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 4rem;
}

.search {
  border-radius: 0.5rem;
  width: 15rem;
  height: 1.5rem;
  border: none;
  box-shadow: 0 3px 3px #c7bebe;
}

.submitButton {
  border-radius: 0.7rem;
  border: none;
  background-color: rgb(233, 95, 32);
  color: #fff;
  height: 2rem;
  width: 200px;
}

.content {
  padding: 3rem 10rem;
}